name: 构建 Android 应用

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Version tag'
        required: true

jobs:
  main:
    name: Release Android App
    runs-on: ubuntu-latest
    steps:
      - name: 克隆仓库
        uses: actions/checkout@v4

      - name: 设置 Java 环境
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: 将screct变量添加签名文件
        run: |
          echo ${{ secrets.KEYSTORE_BASE64 }}  | base64 --decode > ./android/app/bbmusic-keystore.jks
          echo -e "${{ secrets.KEY_PROPERTIES }}" > ./android/key.properties
          ls -lh ./android/app/bbmusic-keystore.jks
          md5sum ./android/app/bbmusic-keystore.jks

      - name: 安装 Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.27.1
          channel: stable
          cache: true
      - name: 配置 Flutter 使用 Java 21
        run: |
          flutter config --jdk-dir $JAVA_HOME
          flutter doctor -v
      - run: flutter build apk --split-per-abi
      - run: flutter build apk

      - name: 确定 Release Tag
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "RELEASE_TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          else
            echo "RELEASE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: 推送到 release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ./build/app/outputs/flutter-apk/*
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ env.RELEASE_TAG }}
